@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');


.welcome{
  color: #000;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000; /* Simulez un curseur clignotant à la fin du texte */
  animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite;
  font-family: 'Paytone One', sans-serif;
  cursor: default;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #000; }
}

.title{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-top: 30px;
}

button.start .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 1.625rem;
}

button.start .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.start .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.start .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.31rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.start .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Paytone One', sans-serif;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translateX(1rem);
}

button:hover .button-text {
  color: #fff;
}


.button-clicked {
  animation: explode 0.5s ease forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}


@media screen and (max-width: 767px){

  .welcome{
    font-size: 25px;
  }

  button {
    margin-top: 20px;
  }

}
  



