
.header {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .left {
   color: #000;
  }
  
  .right {
    display: flex;
    gap: 20px;
  }

  .fa-github{
    font-size: 25px;
  }

  .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  a {
    color: #000;
  }


  
  

  